


.formelement
{
	width: 300px;
    line-height: 25px;
    margin-top: 10px;
    margin-left: 50px;

}


 
.container
{
	width: 800px; 
	height: 600px;
	border: 1px solid black; 
	margin:  auto;
	
}




.box1
{
	height: 600px;
	width: 49%;
	border: 1px solid grey;
	display: inline-block;
	float: left;

}	

.box2
{
	display: inline-block;
	width: 49%;
	float: left;
}


.list
{
	
	width: 300px;
		margin: 0 auto;
		line-height: 25px;
		margin-top: 10px;
		text-align: right;

}

.checkbox
{
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	line-height: 25px;
	margin-left: 50px;
	margin-top: 50px;

}

.checkbox__input
{

}


.image
{
	margin-left: 100px;
}

.box3
{
	height: 700px;
	border: dotted;
	margin-left: 300px;
	margin-right: 300px;
	padding: 150px;

}

#list
{
	line-height: 150px;
	margin-left: 300px;
}
	

